---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EducationDiv from '../components/EducationDiv.astro';
import EducationData from '../data/Education.js';
import ProjectsDiv from '../components/ProjectsDiv.astro';
import SectionDiv from '../components/SectionDiv.astro';
import SectionTitle from '../components/SectionTitle.astro';
---

<Layout>
	<Header />
	<main class="pb-8 px-6 flex flex-col sm:px-8 md:px-16 lg:px-32">
		<SectionDiv id="about-me" class="flex flex-col gap-y-2">
			<SectionTitle sectionTitle="Sobre mi" />
					<p>Soy un desarrollador front-end autodidacta y emprendedor con más de 3 cursos realizados. En 2020, fundé Fer-mentos, un emprendimiento personal en el cual me encargo de producir, promocionar y vender alimentos fermentados, vinagres, conservas y bebidas.</p>
					<p>Mi interés por la programación me llevó a desarrollar la página web de mi emprendimiento, inicialmente en HTML, CSS y JavaScript, y actualmente en proceso de migración a React para mejorar su funcionalidad y experiencia de usuario. También cuento con experiencia en Node.js, Express y bases de datos relacionales utilizando SQL y Sequelize.</p>
					<p>Estoy entusiasmado por el aprendizaje constante y la mejora continua, siempre buscando nuevas herramientas y técnicas para ofrecer soluciones prácticas y efectivas. Soy responsable y dedicado y busco conectar con profesionales y empresas que valoren el compromiso y la dedicación, y que ofrezcan oportunidades para un crecimiento mutuo.</p>
		</SectionDiv>

		<SectionDiv id="education">
			<SectionTitle sectionTitle="Estudios" />
				<ol class="relative border-s border-gray-200 dark:border-gray-700">
					{ EducationData.map(course => (
						<li class="mb-10 ms-4">
						<EducationDiv {... course} />
					</li>
				))}
			</ol>
		</SectionDiv>

		<SectionDiv id="projects" class="flex flex-col gap-y-2">
			<SectionTitle sectionTitle="Proyectos" />
			<ProjectsDiv />
		</SectionDiv>
	</main>
</Layout>