---
import LinkedInIcon from './icons/LinkedIn.astro';
import InstagramIcon from './icons/Instagram.astro';
import XIcon from './icons/X.astro';
import YoutubeIcon from './icons/Youtube.astro';
import TwitchIcon from './icons/Twitch.astro';

---

<header class="flex flex-col py-4 px-5 gap-y-2 sm:py-6 sm:px-7 md:py-9 md:px-10 md:gap-y-4">
  <h1 class="text-3xl font-bold sm:text-4xl md:text-5xl">Fernando Chiesa</h1>
  <h3 class="text-xl font-medium font-scp md:text-2xl">Desarrollador front end</h3>
  <h4 class="md:text-lg">Enfocado en el desarrollo web con React y Astro.</h4>
  
  <nav class="hidden lg:block">
    <ul>
      <li>
        Sobre mi
      </li>
      <li>
        Estudios
      </li>
      <li>
        Proyectos
      </li>
    </ul>
  </nav>

  <ul class="flex gap-x-2 mt-3 sm:gap-x-5 md:gap-x-6">
    <li>
      
      <LinkedInIcon class="size-8 md:size-10"/>
    </li>
    <li>
      <InstagramIcon class="size-8 md:size-10"/>
    </li>
    <li>
      <XIcon class="size-8 md:size-10"/>
    </li>
    <li>
      <YoutubeIcon class="size-8 md:size-10"/>
    </li>
    <li>
      <TwitchIcon class="size-8 md:size-10"/>
    </li>
  </ul>
</header>